<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/template-frontend-api/src/test/java/com/fsoft/template/client/UserRegistryClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.fsoft.template.client.UserRegistryClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="template-frontend-api"/>
</launchConfiguration>
